<div class="content-area">
  <div class="row">
    <div class="col-xs-12">
      <h2>Heroes</h2>
    </div>
  </div>
  <div class="row">
    <clr-datagrid class="col-xs">
      <clr-dg-column>Id</clr-dg-column>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Category</clr-dg-column>
      <clr-dg-column>Status</clr-dg-column>

      <clr-dg-row *clrDgItems="let pet of pets$ | async">
        <clr-dg-cell>
          <span class="heroes-small-image" [style.backgroundImage]="pet.photoUrls"></span>
          <a routerLink="/pets/{{ pet.id }}">{{ pet.id }}</a>
        </clr-dg-cell>
        <clr-dg-cell>
          {{ pet?.name }}
        </clr-dg-cell>
        <clr-dg-cell>
          {{ pet?.category?.name }}
        </clr-dg-cell>
        <clr-dg-cell>
          {{ pet?.status }}
        </clr-dg-cell>
      </clr-dg-row>
    </clr-datagrid>
  </div>
</div>
