<div class="content-area">
  <div class="row">
    <div class="col-xs-12">
      <h2>Keycloak Pets</h2>
    </div>
  </div>

  <p>This example shows a simple
    <a href="https://github.com/mauriciovigolo/keycloak-angular" target="_blank">keycloak-angular</a> configuration.
    <br/> If you are seeing this page you are authenticated!
  </p>
</div>